# -- NetBeans -----------------------------------------

nbproject/

# -- Composer -----------------------------------------

composer.phar
composer.lock

vendor/

# -- Temp files ---------------------------------------

*.tmp
*.bak
